body{
  background-color: rgb(122, 117, 117);
}

h1{
  left: 765px;
  position: absolute;
  color: blue;
  text-shadow: 0 0 10px rgb(22, 110, 199), 0 0 20px rgb(22, 110, 199), 0 0 30px blue, 0 0 40px blue;
}
.container{
    margin:0 auto;
    position: fixed;
    top:270px;
    left: 700px;
}

.row1{
  display: flex;
  gap:0px;
}
.row2{
    display: flex;
    gap:0px; 
  }
  .row3{
    display: flex;
    gap:0px;  
  }
input{
    width:100px;
    height:100px;
    border-radius: 0.1px;
    background-color: transparent;
}
.winner{
  width:200px;
  position:relative;
  top:600px;
  left: 765px;
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  color: blue;
  text-shadow: 0 0 10px dodgerblue, 0 0 20px dodgerblue, 0 0 30px blue, 0 0 40px blue;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#reset{
  height:30px;
  width:100px;
  position:relative;
  top:600px;
  left: 790px;
  background-color:rgb(0, 0, 0);
  color: dodgerblue;
  border-radius: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 20px;
}